name: API Automation Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-api-tests:
    runs-on: ubuntu-latest

    steps:

      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Java 17
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      # Run Maven tests (mock mode for CI stability)
      - name: Run API tests
        run: mvn -B clean test -Denv=qa -Dmock=true

      # Generate Allure report
      - name: Generate Allure Report
        run: mvn allure:report

      # Upload Allure HTML report as artifact
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/site/allure-maven-plugin
